
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <span>Login</span>
    <span class="example-spacer"></span>
  </mat-toolbar>



<div class="container justify-content-center">
  <br>
  <mat-card>
    <div *ngIf="invalidLogin" class="alert alert-warning text-center" role="alert">
      {{ errorMessage }}
    </div>
    <div *ngIf="validLogin" class="alert alert-success text-center" role="alert">
      {{ errorMessage }}
    </div>
    <mat-card-header>
      <mat-card-title>Logging</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form (ngSubmit)="logInto()">
        <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>Login</mat-label>
            <input matInput placeholder="np. login123" id="login"
                   required [(ngModel)]="login" name="login">
          </mat-form-field>
        </div>

        <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>Hasło</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" id="password"
                   required [(ngModel)]="password" name="password">
            <button mat-icon-button matSuffix type="button" (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        </div>

        <button mat-raised-button type="submit" color="primary"
        >Log in
        </button>
      </form>
    </mat-card-content>

  </mat-card>

</div>
